<div style="padding: 20px">

  <p>Dear student, {{student_name}}</p>
    
<p>We are pleased to inform that Term D has officially concluded.</p>
<p>Find the final grades of the courses you took below:</p>

{{table_notes_period}}
<br>
<p>We encourage you to stay attentive to your e-mail, as important information regarding dates and courses for academic Term E, which begins on Monday April 21st, will be shared soon.</p>

<hr>

<p>Estimado/a estudiante, {{student_name}}</p>

<p>Nos complacemos en anunciar que el periodo D ha finalizado oficialmente.</p>
<p>Aquí debajo encuentras las notas finales de las asignaturas cursadas:</p>

{{table_notes_period}}

<br>
<p>Te recomendamos a permanecer atento/a tu correo electrónico, pues se compartirá información importante pronto con respecto a las fechas y asignaturas del periodo académico E, el cual empieza el lunes 21 de abril.</p>
</div>