<div>
    Dear student GONZÁLEZ HERNÁNDEZ, ALEXANDRA ZURIMA, on behalf of the academic team at American Elite School, based in the city of Doral, Florida, USA, we would like to inform you that, during Period C of the School Year 2024-2025, no academic load will be assigned since you are currently aligned with the academic progress expected for your year of entry.
</div>
<br>
<div>
    As Period C is scheduled to begin on Monday, December 2nd, and conclude on February 9th, 2025, we kindly encourage you to remain attentive to your email, where you will be notified about your academic load for the following period (Period D).
</div>
<br>
<div>
    Additionally, we would like to remind you of the relevant links and contacts:
</div>
<ul>
    <li>Website: <a href="https://american-elite.us/">https://american-elite.us/</a></li>
    <li>Virtual classroom: <a href="https://online.american-elite.us/">https://online.american-elite.us/</a></li>
    <li>Contact: <a href="https://soporte.american-elite.us">https://soporte.american-elite.us</a></li>
</ul>
<div>
    On behalf of our institution, we thank you for your commitment and wish you a successful academic term.
</div>
<div>
    Best regards.
</div>

<br>
<div style="margin: 10px 0px !important; border-bottom: 1px solid gray !important;">
    <span></span>
</div>
<br>

<div>
    Estimado(a) estudiante GONZÁLEZ HERNÁNDEZ, ALEXANDRA ZURIMA, en nombre del equipo académico de American Elite School, con sede en la ciudad de Doral, Florida, Estados Unidos, le informamos que, durante el Período C del Curso Escolar 2024-2025, no se le asignará carga académica ya que actualmente se encuentra alineado con el progreso académico esperado para su año de ingreso.
</div>
<br>
<div>
    Dado que el Periodo C está programado para comenzar el lunes 2 de diciembre y concluir el 9 de febrero de 2025, le rogamos permanezca atento a su correo electrónico, donde se le notificará su carga académica para el siguiente periodo (Periodo D).
</div>
<br>
<div>
    Además, le recordamos los enlaces y contactos pertinentes:
</div>
<ul>
    <li>Página web: <a href="https://american-elite.us/">https://american-elite.us/</a></li>
    <li>Aula virtual: <a href="https://online.american-elite.us/">https://online.american-elite.us/</a></li>
    <li>Contacto: <a href="https://soporte.american-elite.us">https://soporte.american-elite.us</a></li>
</ul>

<div>
    En nombre de nuestra institución, le agradecemos su compromiso y le deseamos un buen curso académico.
</div>
<div>
    Saludos cordiales.
</div>