<div>
  <p><strong>Dear student and representative,</strong></p>
  <p>
    On behalf of American Elite School, we wish to offer you the warmest welcome
    for our 2024-2025 academic period - C, through a virtual meeting.
  </p>
  <p>
    We continue to innovate and improve the learning experience and we want to
    share with you some news about our Virtual Learning Environment and make you
    aware of important aspects about the dynamics of progress, interaction and
    communication that characterize our Educational Model in the virtual
    modality.
  </p>
  <p>
    We have scheduled this important meeting for the day - Tuesday, December 10,
    2024, at 4:00 pm (Miami Time).
  </p>

  <p><strong>Meeting Details</strong></p>
  <p>Meeting for students - AES</p>
  <p>Tuesday, December 10 · 4:00 – 5:00pm</p>
  <p>Time zone: America/Miami</p>
  <p>Information to join Google Meet:</p>
  <p>
    Video call link:
    <a
      href="https://meet.google.com/xkr-cbcz-mto"
      style="color: blue !important"
      ><strong>https://meet.google.com/xkr-cbcz-mto</strong></a
    >
  </p>

  <p><strong>Contacts and Links of Interest</strong></p>
  <ul>
    <li>
      Website:
      <a href="https://american-elite.us/">https://american-elite.us/</a>
    </li>
    <li>
      Virtual classroom:
      <a href="https://online.american-elite.us/"
        >https://online.american-elite.us/</a
      >
    </li>
    <li>
      Contact:
      <a href="https://soporte.american-elite.us"
        >https://soporte.american-elite.us</a
      >
    </li>
  </ul>

  <p>
    On behalf of the entire American Elite School community, we thank you for
    your trust and commitment, confident in our contribution to your academic
    growth and the achievement of new opportunities.
  </p>

  <p>Kind regards.</p>

  <hr />

  <p><strong>Estimado(a) estudiante y representante,</strong></p>
  <p>
    En nombre de American Elite School, deseamos ofrecerle la más cordial
    bienvenida a nuestro periodo académico 2024-2025 - C, a través de una
    reunión virtual.
  </p>
  <p>
    Seguimos innovando y mejorando la experiencia de aprendizaje y queremos
    compartir con ustedes algunas novedades de nuestro Entorno Virtual de
    Aprendizaje y darles a conocer aspectos importantes sobre la dinámica de
    avance, interacción y comunicación que caracterizan a nuestro Modelo
    Educativo en la modalidad virtual.
  </p>
  <p>
    Hemos programado este importante encuentro para el día - martes 10 de
    diciembre de 2024, a las 4:00 pm (Hora de Miami).
  </p>

  <p><strong>Detalles de la Reunión</strong></p>
  <p>Meeting para estudiantes - AES</p>
  <p>Martes, 10 de diciembre · 4:00 – 5:00pm</p>
  <p>Zona horaria: América/Miami</p>
  <p>Información para unirse con Google Meet:</p>
  <p>
    Enlace de la videollamada:
    <a
      href="https://meet.google.com/xkr-cbcz-mto"
      style="color: blue !important"
      ><strong>https://meet.google.com/xkr-cbcz-mto</strong></a
    >
  </p>

  <p><strong>Contactos de Interés</strong></p>
  <ul>
    <li>
      Página web:
      <a href="https://american-elite.us/">https://american-elite.us/</a>
    </li>
    <li>
      Aula virtual:
      <a href="https://online.american-elite.us/"
        >https://online.american-elite.us/</a
      >
    </li>
    <li>
      Contacto:
      <a href="https://soporte.american-elite.us"
        >https://soporte.american-elite.us</a
      >
    </li>
  </ul>

  <p>
    En nombre de toda la comunidad de American Elite School, le agradecemos por
    su confianza y compromiso, seguros de nuestra contribución a su crecimiento
    académico y el logro de nuevas oportunidades.
  </p>
  <p>Saludos cordiales.</p>
</div>
