$primary: #002fbd;

.table-customize {
  tbody {
    tr {
      th {
        padding-top: 10px;
        width: 300px;

        @media screen and (max-width: 782px) {
          width: auto;
        }
      }

      td {
        padding-top: 5px;
      }
    }
  }
}

.button-success {
  border: 1px solid #198754 !important;
  background-color: #198754 !important;
  color: white !important;

  &:hover {
    background-color: #17774a !important;
  }
}

.button-warning {
  border: 1px solid #dba617 !important;
  background-color: #dba617 !important;
  color: white !important;

  &:hover {
    border: 1px solid #c49411 !important;
    background-color: #c49411 !important;
    box-shadow: 0 0 0 1px #c49411;
  }
}

.button-danger {
  border: 1px solid #dc3545 !important;
  background-color: #dc3545 !important;
  color: white !important;

  &:hover {
    border: 1px solid #ac2835 !important;
    background-color: #ac2835 !important;
    box-shadow: 0 0 0 1px #ac2835;
  }
}

.notice-custom {
  background: #fff;
  border: 1px solid #c3c4c7;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  padding: 1px 12px;
  border-left-color: #72aee6 !important;
}

select[reaonly] {
  background-color: #f0f0f1;
  pointer-events: none;
}

#footer-thankyou {
  display: none;
}

#footer-upgrade {
  display: none;
}

div#application-passwords-section {
  display: none;
}

#contextual-help-link {
  display: none;
}

#dashboard-widgets-wrap {
  display: none;
}

#collapse-button {
  display: none;
}

#email-description {
  display: none;
}

.text-danger {
  color: #dc3545;
}

.iti.iti--allow-dropdown.iti--separate-dial-code.iti--show-flags {
  width: 100%;
}

.dashicons {
  &:before {
    vertical-align: middle;
  }
}

#inputStartDate {
  background-color: #fff !important;
}

// Modal styles
.modal {
  display: none;
  position: fixed;
  z-index: 11000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  backdrop-filter: blur(5px); /* Desenfoque */
  -webkit-backdrop-filter: blur(5px); /* Para Safari */
}

.modal-content {
  background-color: #fff;
  margin: 50px auto 150px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50%;
  @media screen and (max-width: 767px){
    width: 100% !important;
    border-radius: 0px !important;
    margin: 0;
  }
  #canvas {
    border-bottom: 1px solid black;
    margin: auto;
  }
}

.modal-header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  font-size: 20px;
  margin: 0;
}

.modal-close {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

.modal-close.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.modal-body {
  padding: 20px;
}

.modal-body p {
  margin-bottom: 10px;
}

.modal-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
  button {
    margin-right: 5px !important;
  }
}

.button-create-enrollment {
  @media screen and (max-width: 782px) {
    margin-bottom: 150px !important;
  }
}

.button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-primary {
  background-color: #337ab7;
  color: #fff;
}

.button-outline-primary {
  background-color: #fff;
  color: #337ab7;
  border: 1px solid #337ab7;
}

.button:hover {
  opacity: 0.8;
}

// Additional styles for a more elegant design
.modal-content {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.modal-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
}

.modal-body {
  padding: 30px;
}

.modal-footer {
  background-color: #f7f7f7;
  border-top: 1px solid #ccc;
}

.button-primary {
  background-color: #2e6da4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-outline-primary {
  border-color: #2e6da4;
  color: #2e6da4;
}

.card-report-sales {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  margin: 4px;
  font-size: 18px;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* CSS Styles */
.grid-container-report {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  margin: 18px;
}

.grid-container-report-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 18px;
}

.grid-container-report-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 18px;
}

.grid-container-report-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 18px;
}

.woocommerce-site-status-badge-live {
  display: none !important;
}

#wp-admin-bar-wp-mail-smtp-menu {
  display: none !important;
}

/* Style the segment buttons */
.segment-button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: none;
  border-radius: 0px;
  background-color: #ffffff;
  color: #000;
}

.segment-button:first-child {
  border-radius: 10px 0 0 10px;
}

.segment-button:last-child {
  border-radius: 0 10px 10px 0;
}

.segment-button:hover {
  background-color: #ccc;
}

.segment-button.active {
  background-color: $primary;
  color: #fff;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Add animation to the segment buttons */
.segment-button {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.segment-button:hover {
  transform: scale(1.05);
}

.segment-button.active {
  transform: scale(1.1);
  z-index: 10000;
}

.segment-button-history {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: none;
  border-radius: 0px;
  background-color: #ffffff;
  color: #000;
}

.segment-button-history:first-child {
  border-radius: 10px 0 0 10px;
}

.segment-button-history:last-child {
  border-radius: 0 10px 10px 0;
}

.segment-button-history:hover {
  background-color: #ccc;
}

.segment-button-history.active {
  background-color: $primary;
  color: #fff;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Add animation to the segment buttons */
.segment-button-history {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.segment-button-history:hover {
  transform: scale(1.05);
}

.segment-button-history.active {
  transform: scale(1.1);
  z-index: 1000;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0;
  margin: auto;
}

.card-header {
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 0px 0px;
}

.card-body {
  padding: 20px;
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input:not([type="checkbox"]),
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .content-notification-staff {
    margin: 20px 10px;
    text-align: center;
    font-style: italic;
  }
}

.card-body-configuration {
  padding: 20px;
  // label {
  //   display: block;
  //   margin-bottom: 10px;
  // }
  
  input:not([type="checkbox"]),
  textarea {
    // width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .full-input {
    width: 100%;
  }
}

.form-group {
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #23527c;
}

.projection-report-template {
  cursor: pointer !important;
  transition: 100ms;
}

.projection-report-template:hover {
  transform: scale(1.02) !important;
  transition: 100ms;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.admin-add-offer {
  width: 460px;
  margin: auto;

  @media screen and (max-width: 782px) {
    width: 100% !important;
  }

  input, select {
    width: 100%;
  }

  .space-offer {
    margin: 10px 0px 10px 0px;
  }
}

.current-period {
  background-color: rgb(23 119 74 / 20%) !important;
}

.row-projection {
  display: flex;
  border: 1px solid #b2b2b2;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  transition: 0.3s;

  @media screen and (max-width: 900px) {
    display: block !important; 
    text-align: center;
    select, input:not([type="checkbox"]) {
      width: 100%;
    }
  }
}

#wp-admin-bar-wp-logo {
  display: none;
}

#wp-admin-bar-comments {
  display: none;
}

#wp-admin-bar-new-content {
  display: none;
}

.select2-container--default {
  width: 100% !important;
}

.modal-enrollment {
  border-radius: 0px !important;
  width: 210mm !important;
  overflow: auto;
  @media screen and (max-width: 767px){
    width: 100% !important;
    margin: 0 !important;
  }
}

.modal-document-export {
  border-radius: 0px;
  width: 210mm;
  overflow: auto;
  @media screen and (max-width: 767px){
    width: 100% !important;
    margin: 0 !important;
  }
}

#qt_content_toolbar {
  input {
    width: auto !important;
  }
}

#qt_message_toolbar {
  input {
    width: auto !important;
  }
}