.table-customize tbody tr th {
  padding-top: 10px;
  width: 300px;
}
@media screen and (max-width: 782px) {
  .table-customize tbody tr th {
    width: auto;
  }
}
.table-customize tbody tr td {
  padding-top: 5px;
}

.button-success {
  border: 1px solid #198754 !important;
  background-color: #198754 !important;
  color: white !important;
}
.button-success:hover {
  background-color: #17774a !important;
}

.button-warning {
  border: 1px solid #dba617 !important;
  background-color: #dba617 !important;
  color: white !important;
}
.button-warning:hover {
  border: 1px solid #c49411 !important;
  background-color: #c49411 !important;
  box-shadow: 0 0 0 1px #c49411;
}

.button-danger {
  border: 1px solid #dc3545 !important;
  background-color: #dc3545 !important;
  color: white !important;
}
.button-danger:hover {
  border: 1px solid #ac2835 !important;
  background-color: #ac2835 !important;
  box-shadow: 0 0 0 1px #ac2835;
}

.notice-custom {
  background: #fff;
  border: 1px solid #c3c4c7;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  padding: 1px 12px;
  border-left-color: #72aee6 !important;
}

select[reaonly] {
  background-color: #f0f0f1;
  pointer-events: none;
}

#footer-thankyou {
  display: none;
}

#footer-upgrade {
  display: none;
}

div#application-passwords-section {
  display: none;
}

#contextual-help-link {
  display: none;
}

#dashboard-widgets-wrap {
  display: none;
}

#collapse-button {
  display: none;
}

#email-description {
  display: none;
}

.text-danger {
  color: #dc3545;
}

.iti.iti--allow-dropdown.iti--separate-dial-code.iti--show-flags {
  width: 100%;
}

.dashicons:before {
  vertical-align: middle;
}

#inputStartDate {
  background-color: #fff !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
}

.modal-content {
  background-color: #fff;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
}

.modal-header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  font-size: 20px;
  margin: 0;
}

.modal-close {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

.modal-close.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.modal-body {
  padding: 20px;
}

.modal-body p {
  margin-bottom: 10px;
}

.modal-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
}
.modal-footer button {
  margin-right: 5px !important;
}

.button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-primary {
  background-color: #337ab7;
  color: #fff;
}

.button-outline-primary {
  background-color: #fff;
  color: #337ab7;
  border: 1px solid #337ab7;
}

.button:hover {
  opacity: 0.8;
}

.modal-content {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.modal-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
}

.modal-body {
  padding: 30px;
}

.modal-footer {
  background-color: #f7f7f7;
  border-top: 1px solid #ccc;
}

.button-primary {
  background-color: #2e6da4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-outline-primary {
  border-color: #2e6da4;
  color: #2e6da4;
}

.card-report-sales {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  margin: 4px;
  font-size: 18px;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* CSS Styles */
.grid-container-report {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 18px;
}/*# sourceMappingURL=style.css.map */