@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
 font-family: "Poppins", sans-serif !important;
 color:#495057;
}

.iti.iti--allow-dropdown.iti--show-flags{
    width: 100%;
}

a{
    &:focus{
        outline-color: transparent !important;
    }
}

button{

    &.menu-toggle{
        border-color:transparent !important
    }

    &:focus{
        outline-color: transparent !important;
    }
}

input[type=text],input[type=email],input[type=tel],input[type=date]{
    width: 100%;
    border-radius: 8px;
    border: solid 1px;
    box-shadow: none !important;
  
}
select{
    width: 100%;
    padding: 12px 16px !important;
    border: none;
    border-radius: 8px;
    background-color: #fff !important;
    outline-color: #ffffff !important;
    border: 1px solid  #00000020 !important;
    // -moz-appearance: none;
    // -webkit-appearance: none;
    // appearance: none;
    
    
    &:focus-visible{
        border: 1px solid  #00000020 !important;
        outline-color: rgba(0, 0, 0, .125) !important;
        
    }
    &:-ms-expand {
        right: 16px !important;
    }
}

input{
    border-radius: 8px;
    &:focus{
        outline-color: transparent !important;
    }
}



.formdata {
    width: 100%;
    padding: 12px 16px !important;
    border: none;
    border-radius: 20px;
    background-color: #fff !important;
    outline-color: #ffffff !important;
    border: 1px solid  #00000020 !important;
}

.formdata:focus {
    background-color: #ffffff !important;
    outline-color: #ffffff !important;
}

label {
   
    font-size: 16px;
    line-height: 30px;
  
}

label,
input {
    transition: all 0.2s;
    touch-action: manipulation;
}

[type="checkbox"]
{
    vertical-align:middle;
    outline-color: #ffffff !important;
    cursor: pointer;
}

.title {
    font-weight: 600 !important;
    text-align: center;
    color: black;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    font-size: 28px;
    width: 60%;
    margin: auto;

    @media screen and (max-width: 767px){
        width: 100%;
     }
}

.checkboxes {
    font-size: 14px;
}

.submit {
    width: 50%;
    padding: 10px 20px !important;
    text-align: center;
    background-color: #091c5c !important;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    margin:auto;
    border-radius: 20px;

    &:hover{
        color: white !important;
        opacity: 0.75;
    }
}

.bottom {
    border-bottom: 5px solid #00AEEF;
    padding-bottom: 2rem !important;
    border-radius: 10px;
}

.subtitle {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
}

.checkboxes {
    font-size: 12px;
}

.mt-10 {
    margin-top: 10px !important;
}

.storefront-handheld-footer-bar ul li.search .site-search {
    bottom: -5em !important;
}

.storefront-handheld-footer-bar ul li.search.active .site-search {
    bottom: 100% !important;
}

.storefront-handheld-footer-bar ul.columns-3 li {
    width: 7em !important;
    outline-color: #ffffff !important;
}

.storefront-handheld-footer-bar ul li.search .site-search {
    bottom: -5em !important;
}

.storefront-handheld-footer-bar ul li.search.active .site-search {
    bottom: 100% !important;
}

.storefront-handheld-footer-bar ul.columns-3 li {
    width: 7em !important;
    outline-color: #ffffff !important;
}

.select2-container--default .select2-selection--single{
    height: 43.75px !important;
    padding-top: 5px !important;
    background-color: #ffff !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .125) !important; 
    border-radius: 20px !important;
    border: 1px solid  #00000020 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 12px !important;
    padding-top: 4px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected]{
    background-color: #091c5c !important;
}

.select2-selection__arrow{
    height: 43.75px !important;
}

.site-footer{
    padding: 1.6em !important
}

.entry-header{
    display: none;
}

.woocommerce-additional-fields{
    display: none;
}

.storefront-breadcrumb{

    padding: 0px !important;

    .col-full{
        display: none;
    }
}

.storefront-handheld-footer-bar{
    display: none;
}

.site-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.site-header{
    @media screen and (max-width: 767px){
       margin-bottom: 0px !important;
    }
}

#order_review_heading{
    display: none;
}

#order_review{
    @media screen and (max-width: 767px){
        margin-top: 10px !important;
    }
}

.woocommerce-MyAccount-content{
    @media screen and (max-width: 767px){
        margin-top: 40px !important;
    }
}

.woocommerce-billing-fields > h3 {
    display: none;
}

.create-account{
    display: none;
}

.order-again{
    display: none;
}

.flatpickr-monthDropdown-months{
    padding-top: 0px !important;
}

.content-dashboard{
    margin-top: 10px;
}

#billing_phone_hidden{
    display: none;
}

.input-no-style{
    background: none !important;
    box-shadow: none !important;
}

.button-primary{
    width: 100%;
    padding: 5px 20px !important;
    text-align: center;
    background-color:  #091c5c  !important;
    border-radius: 20px;
    color: white !important;
    font-size: 18px;

    &:hover{
        opacity: 0.75;
    }
}

.iti--separate-dial-code .iti__selected-flag{

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#number_phone,#number_partner,#rector_phone,#number_phone_account,#billing_phone{
    padding-left: 85px !important;
}
.text-align-center{
    text-align: center;
}

.flatpickr-day.selected{
    background:  #091c5c !important;
    border-color: #091c5c !important;
}

.hentry .entry-content a{
    text-decoration: none !important;
}

.woocommerce-error,.woocommerce-success,.woocommerce-notices,.woocommerce-info,.woocommerce-message{
    border-radius: 20px !important;
    border-left: none !important;
}

.show-password-input{
    padding: .818em !important;
}

.color-link{
    color: #091c5c !important
}

#terms{

    &:checked{
        background-color:  #091c5c !important;
        color: #091c5c !important;
    }
}

.hentry .entry-content .woocommerce-MyAccount-navigation ul{
    border-top: none !important
}

.hentry .entry-content .woocommerce-MyAccount-navigation ul li{
    border-bottom: none !important
    
}

.woocommerce-MyAccount-navigation ul li a{

    font-weight: 600;

    &:before{
        content: "" !important;
    }
}

.hentry .entry-content .woocommerce-MyAccount-navigation ul li.is-active{

    width: 100%;
    text-align: center;
    background-color: #091c5c !important;
    border-radius: 4px;
    color: white;
    margin-bottom:3px;
    border-radius: 20px;


    &:hover{
        color: white !important;
        opacity: 0.75;
    }
}

.woocommerce-info{
    background-color: #091c5c !important;
}

fieldset{
    background-color: white !important;
}

.input-text{

    width: 100%;
    padding: 12px 16px !important;
    border: none;
    border-radius: 8px;
    background-color: #fff !important;
    outline-color: #ffffff !important;
    border: 1px solid  #00000020 !important;
}


.woocommerce-billing-fields__field-wrapper{

    > .form-row{
        margin-bottom: 10px;
    }
}

.wc-credit-card-form.wc-payment-form{
    background-color: transparent !important;
}

button.alt{

    border-radius: 20px !important;
    background-color:  #091c5c !important;
    color: white !important;
}

.woocommerce-privacy-policy-text{
    display: none;
}

#payment > .place-order{
    background-color: transparent !important;
}

input[type=radio]:first-child:checked+label:before{
    color: #091c5c !important;
}

.button{
    border-radius: 20px !important;
}

h3{
    font-size: 20px;
}

.site-footer{
    background-color: #f8f8f8 !important;
    z-index: 2;
}

.powered-by-text{
    color: #091c5c !important;
    font-weight: 600;
}

/* Estilo para los inputs radio */
.radio-input {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.radio-input input[type="radio"] {
    display: none;
}

.radio-input label {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    cursor: pointer;
}

.radio-input label:hover {
    background-color: #eee;
}

.radio-input input[type="radio"]:checked + label {
    background-color: #4CAF50;
    color: #fff;
    border: 1px solid #4CAF50;
}

.radio-input input[type="radio"]:checked + label::before {
    content: "\2713";
    font-size: 14px;
    margin-right: 10px;
    color: #fff;
}

.form-aes{
    .required{
        margin-left: 5px;
    }
}