a{
    &:focus{
        outline-color: transparent !important;
    }
}

button{

    &.menu-toggle{
        border-color:transparent !important
    }

    &:focus{
        outline-color: transparent !important;
    }
}

select{
    width: 100%;
    padding: 16px 20px !important;
    border: none;
    border-radius: 4px;
    background-color: #f4f4f4;
}

input{
    &:focus{
        outline-color: transparent !important;
    }
}

.formdata {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f4f4f4;
    outline-color: #ffffff !important;
}

.formdata:focus {
    background-color: #ffffff !important;
    border: 1px solid #00AEEF !important;
    outline-color: #ffffff !important;
}

label {
    color: #989898 !important;
}

label,
input {
    transition: all 0.2s;
    touch-action: manipulation;
}

[type="checkbox"]
{
    vertical-align:middle;
    outline-color: #ffffff !important;
    cursor: pointer;
}

.title {
    font-weight: 600 !important;
    text-align: center;
    color: black;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    font: 24px / 33px "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 60%;
    margin: auto;

    @media screen and (max-width: 767px){
        width: 100%;
     }
}

.checkboxes {
    font-size: 12px;
}

.submit {
    width: 100%;
    padding: 14px;
    text-align: center;
    background-color: #00AEEF !important;
    border-radius: 4px;
    color: white;
    font-size: 18px;
}

.bottom {
    border-bottom: 5px solid #00AEEF;
    padding-bottom: 2rem !important;
    border-radius: 10px;
}

.subtitle {
    font: 20px/36px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.checkboxes {
    font-size: 12px;
}

.mt-10 {
    margin-top: 10px !important;
}

.storefront-handheld-footer-bar ul li.search .site-search {
    bottom: -5em !important;
}

.storefront-handheld-footer-bar ul li.search.active .site-search {
    bottom: 100% !important;
}

.storefront-handheld-footer-bar ul.columns-3 li {
    width: 7em !important;
    outline-color: #ffffff !important;
}

.storefront-handheld-footer-bar ul li.search .site-search {
    bottom: -5em !important;
}

.storefront-handheld-footer-bar ul li.search.active .site-search {
    bottom: 100% !important;
}

.storefront-handheld-footer-bar ul.columns-3 li {
    width: 7em !important;
    outline-color: #ffffff !important;
}

.select2-container--default .select2-selection--single{
    height: 43.75px !important;
    padding-top: 5px !important;
    background-color: #f4f4f4 !important;
    border: none !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .125);
}

.select2-selection__arrow{
    height: 43.75px !important;
}

.site-footer{
    padding: 1.6em !important
}

.entry-header{
    display: none;
}

.woocommerce-additional-fields{
    display: none;
}

.storefront-breadcrumb{

    padding: 0px !important;

    .col-full{
        display: none;
    }
}

.storefront-handheld-footer-bar{
    display: none;
}

.site-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.site-header{
    @media screen and (max-width: 767px){
       margin-bottom: 0px !important;
    }
}

#order_review_heading{
    display: none;
}

#order_review{
    @media screen and (max-width: 767px){
        margin-top: 10px !important;
    }
}

.woocommerce-MyAccount-content{
    @media screen and (max-width: 767px){
        margin-top: 40px !important;
    }
}

.woocommerce-billing-fields > h3 {
    display: none;
}

.create-account{
    display: none;
}

.order-again{
    display: none;
}

.flatpickr-monthDropdown-months{
    padding-top: 0px !important;
}

.content-dashboard{
    margin-top: 10px;
}