<div style="padding: 20px">
<p>Dear student {{student_name}}, on behalf of the academic team at American Elite School, located in Doral, Florida, USA, we would like to inform you that, during Period E of the {{academic_year}} school year, no academic load will be assigned to you, as you currently have the academic progress corresponding to your year of admission.</p>

<p>Since Period A starts on Monday, August 18, 2025 and ends on Sunday, October 12, 2025, we invite you to stay alert to your emails where you will be notified of the academic load for the following period.</p>

<p>We leave at your disposal links and contacts of interest:</p>
<ul>
      <li>Website: <a href="https://americanelite.school/">https://americanelite.school/</a></li>
      <li>Virtual classroom: <a href="https://portal.americanelite.school/my-account">https://portal.americanelite.school/my-account</a></li>
     <li>Support: <a href="https://support.americanelite.school/">https://support.americanelite.school</a></li>
 </ul>
<p>On behalf of our institution, we thank you for your commitment and wish you a pleasant rest during this period.</p>

<hr>

<h1 style="color: black; padding-bottom: 10px; padding-top: 10px;">Bienvenido</h1>

<p>Estimado(a) estudiante {{student_name}}, en nombre del equipo académico de American Elite School, con sede en la ciudad del Doral, Florida-EEUU, nos permitimos anunciarle que, durante el Periodo E correspondiente al Año Escolar {{academic_year}} no le será asignada carga académica ya que cuenta actualmente con el avance académico que corresponde a su año de ingreso.</p>

<p>
Dado que el periodo académico A tiene fecha de inicio el Lunes, Agosto 18, 2025 y culmina el Domingo, Octubre 12, 2025, los invitamos a estar atentos a sus correos electrónicos donde serán notificados con la carga académica correspondiente al periodo siguiente.
</p>

<p>Dejamos a su disposición enlaces y contactos de interés:</p>
<ul>
      <li>Página web: <a href="https://americanelite.school/">https://americanelite.school/</a></li>
      <li>Aula virtual: <a href="https://portal.americanelite.school/">https://portal.americanelite.school/</a></li>
     <li>Contacto: <a href="https://support.americanelite.school/">https://support.americanelite.school</a></li>
 </ul>
<p>En nombre de nuestra institución, le agradecemos por su compromiso y le deseamos un feliz descanso durante este periodo.</p>
</div>